// Black and white

$black: #000000;
$white: #FFFFFF;

// Grey's

$concrete: #F2F2F2;     // Light
$alto: #DDDDDD;         //  |
$silver: #C7C7C7;       //  |
$chalice: #9D9D9D;      //  |
$dove: #737373;         //  |
$mine: #262626;         // Dark

// Greens

$zanah: #DFF0DB;        // light
$limeade: #7FA800;      // Middle
$green-leaf: #42710C;   // Dark

// Blue's

$link-water: #D9EDF7;   // Light
$shipe-cove: #7B9DB8;   // Middle
$cello: #204460;        // Dark     -- Used for header
$tuna: #33363E;         // Dark     -- Used for navigation

// Red's

$bizarre: #F2DEDE;      // Light
$milano: #CA2300;       // Middle
$tamarillo: #AA1010;    // Dark

// Orange

$sandy: #F0AD4E;        // Light
$carrot: #EC971F;       // Middle
$meteor: #D58512;       // Dark

// Yellow

$pearl: #FCF8E3;        // Light
$givry: #F7ECB5;        // Middle

// Brown

$potters : #8A6D3B;