body.login {

    background-color: $concrete;

    .panel {
        box-shadow: 0 0 150px rgba(0, 0, 0, .15);
    }

    .togglepass {
        color: $chalice;
    }

    .control-label {
        color: $chalice;
    }
}