#navpage-primary {
    display: flex;
    flex-direction: row;

    min-height: 54px;
    margin-bottom: 0;

    .navbar-brand {
        color: $white;
        font-size: 28px;
        line-height: 28px;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0;
        padding: 8px 8px 8px 2px;

        @media (max-width: 640px) {
           padding: 10px 8px 8px 6px;
        }

        img {
            width: 26px;
            height: 26px;
            margin: 0 2px 2px 0;
        }
    }

    form {
        padding: 0;
        display: inline;
    }

    div {
        flex: 0 1 auto;
    }

    div.flex-spacer {
        flex: 5 1 auto;
    }

}

