label {
    display: block;
    margin-bottom: 3px;

    label {
        display: inline !important;
    }
}

.form-control {
    @include placeholder();
    height: 33px;
}

.form-horizontal {
    .control-label {
        text-align: left;
        font-size: $font-size-base + 0.1rem;
        font-weight: normal;
        margin-bottom: 5px;
    }

    .control-label-inline {
        font-size: $font-size-base;
        font-weight: bold;
        margin-bottom: 5px;
        padding-top: 4px;
    }

    .form-group {
        margin-top: 24px;
        margin-bottom: 12px;

        @media (max-width: 640px) {
            margin-top: 16px;
            margin-bottom: 4px;
        }

        .form-group:first-of-type {
            margin-top: 0px;
        }

    }

}

.button-wrap {
    margin: 8px 0 4px;
    position: relative;
}

input[type="checkbox"] {
    margin: 4px 8px 0px 0;
}

fieldset.checkbox {
    display: inline-block;
    margin-top: -12px;
    margin-bottom: -12px;

    label {
        display: inline;
    }

    div {
        margin: 0.3em 0 0.5em;
    }
}

.fileinput-button {
    margin-right: 4px;
}

.ui-sortable-placeholder {
    visibility: visible !important;
}

#filtertabs {
    margin-bottom: 16px;
    border: 0;

    a {
        cursor: pointer;
        padding: 5px 12px;
        font-weight: normal;

        &:hover {
            border-bottom: 0;
        }

        @media (max-width: 767px) {
            padding: 4px 6px;
        }
    }

    li {
        margin-right: 2px;
    }
}

div.datetime-container {
    display: table;

    & > div {
        display: table-cell;
        vertical-align: middle;
        width: 9px;
        overflow: visible;
    }
}

form .progress {
    height: 7px;
    margin: 2px 0 0 0;
}