/*
 * Read the README.TXT in main SASS folder for project details
 */

/**
 * Bootstrap customizing.
 */
$navbar-padding-horizontal: 0;

/**
 * External resource: Bootstrap.
 * We do seperate imports here, instead of just importing 'bootstrap.scss', because we do not need
 * all of the components.
 */

// Core variables and mixins
@import "scss/variables";
@import "scss/mixins";
@import "scss/custom";

// Reset and dependencies
@import "scss/normalize";
@import "scss/print";

// Core CSS
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
@import "scss/code";
@import "scss/grid";
@import "scss/tables";
@import "scss/forms";
@import "scss/buttons";

// Components
@import "scss/transitions";
@import "scss/dropdown";
@import "scss/button-group";
@import "scss/input-group";
@import "scss/custom-forms";
@import "scss/nav";
@import "scss/navbar";
@import "scss/card";
@import "scss/breadcrumb";
@import "scss/pagination";
@import "scss/badge";
@import "scss/jumbotron";
@import "scss/alert";
@import "scss/progress";
@import "scss/media";
@import "scss/list-group";
@import "scss/responsive-embed";
@import "scss/close";

// Components w/ JavaScript
@import "scss/modal";
@import "scss/tooltip";
@import "scss/popover";
@import "scss/carousel";

// Utility classes
@import "scss/utilities";

/**
 * External resource: Font Awesome.
 */
@import "font-awesome.scss";

/**
 * Base variables, mixins and helpers.
 */
@import "base-visual";
@import "base-structure";

/**
 * Overrides for third party libraries / vendors and bootstrap defaults.
 */
@import "lib/bootstrap";
@import "lib/ckeditor";
@import "lib/codemirror";
@import "lib/select2";

/**
 * Bolt User Interface Components.
 */
@import "buic/browser";
@import "buic/checkbox";
@import "buic/listing";
@import "buic/modal";
@import "buic/moment";
@import "buic/progress";
@import "buic/select";
@import "buic/stack";

@import "editcontent/fields/categories";
@import "editcontent/fields/checkbox";
@import "editcontent/fields/date";
@import "editcontent/fields/datetime";
@import "editcontent/fields/file";
@import "editcontent/fields/filelist";
@import "editcontent/fields/float";
@import "editcontent/fields/geolocation";
@import "editcontent/fields/grouping";
@import "editcontent/fields/html";
@import "editcontent/fields/image";
@import "editcontent/fields/imagelist";
@import "editcontent/fields/integer";
@import "editcontent/fields/markdown";
@import "editcontent/fields/relationships";
@import "editcontent/fields/repeater";
@import "editcontent/fields/select";
@import "editcontent/fields/slug";
@import "editcontent/fields/tags";
@import "editcontent/fields/templateselect";
@import "editcontent/fields/text";
@import "editcontent/fields/textarea";
@import "editcontent/fields/video";

/**** Structure */
@import "structure/bolt-structure.scss";
@import "structure/extends-structure.scss";
@import "structure/aside-structure.scss";
@import "structure/dashboard-structure.scss";
@import "structure/footer-structure.scss";
@import "structure/textstyles-structure.scss";
@import "structure/form-structure.scss";
@import "structure/login-structure.scss";
@import "structure/pop-over-structure.scss";
@import "structure/live-editor-sctructure.scss";
@import "structure/omnisearch-stucture.scss";
@import "structure/widgets-structure.scss";
@import "structure/fonts-structure.scss";
@import "nav/nav.scss";
@import "structure/edit_content_fieldset-structure.scss";
@import "structure/edit_content_field-structure.scss";

/**** Visual */
//@import "visual/colors.scss";
@import "visual/bolt-visual.scss";
@import "visual/aside-visual.scss";
@import "visual/dashboard-visual.scss";
@import "visual/textstyles-visual.scss";
@import "visual/form-visual.scss";
@import "visual/login-visual.scss";
@import "visual/pop-over-visual.scss";
@import "visual/live-editor-visual.scss";
@import "visual/omnisearch-visual.scss";
@import "visual/nav-visual.scss";
@import "visual/edit_content_fieldset-visual.scss";
@import "visual/edit_content_field-visual.scss";
@import "visual/footer-visual.scss";
